<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#003735">

    <!-- <link rel='icon' type='image/ico' href='favi.ico' /> -->
    <title>{{{title}}}</title>

    <link rel="stylesheet" href="public/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link rel="stylesheet" href="public/css/reset.css">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="manifest" href="manifest.json">
  </head>
  <body>

    <nav>
      <div class="brand">
        <h3>DevTracker</h3>
      </div>
      <p>Logged in as {{user.first_name}} {{user.last_name}}</p>
      <ul id="nav-links">
        {{#if LoggedIn}}
          <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Dashboard</a></li>
          <li><a href=""><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
          <li><a href=""><i class="fa fa-sliders" aria-hidden="true"></i> Preferences</a></li>
          <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
        {{else}}
          <li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
        {{/if}}
      </ul>
      <ul id="nav-footer">
          <li><a href="">Contact</a></li>
          <li><a href="">FAQ</a></li>
          <li><a href="">Social Media</a></li>
      </ul>
    </nav>
    <div id="nav-right"></div>

    {{{body}}}

    <!--Javascript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="public/js/main.js"></script>
  </body>
</html>
