<header class="{{project.colour}}-header">
  <a href="/" class="{{project.colour}}-text"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
  <span class="{{project.colour}}-text">{{project.name}}</span>
  <a href="/project/{{project.id}}/addfeature" class="right {{project.colour}}-text"><i class="fa fa-plus" aria-hidden="true"></i></a>
  <a href="" class="right {{project.colour}}-text"><i class="fa fa-sort" aria-hidden="true"></i></a>
</header>

<div class="container" id="featuresContent">
  <ul>
    {{#if project.features}}
      {{#each project.features}}
        <li>
          <a>
            <!-- <div class="date {{@root.project.colour}}-background">
              <span>JAN 01</span>
            </div> -->
            <span id="feature-title">{{this.title}}</span>
            <span class="badge">{{this.tag}}</span>
            <span class="right {{@root.project.colour}}-text">{{this.status}}</span>
            <p>{{this.description}}</p>
          </a>
        </li>
      {{/each}}
    {{else}}
      <p>Press the "+" button to add features to this project</p>
    {{/if}}
  </ul>
</div>
